
section {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 1262px;
    gap: 100px;
}

.laye {
    position: absolute;
    width: 573px;
    height: auto;
    padding-top: 60px;
    left: -75px;
    top: -28px;
    
}

.elipse {
    width: 466px;
    position: relative; 
}

.shoesElipse {
    display: flex;
    position: relative;
   
}

.offer {
    color: rgba(201, 32, 113, 1);
    cursor: pointer;
}

.button {
    background-color: rgba(201, 32, 113, 1);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 20px;
}
.oferta{
    max-width: 589px;
}